/* start global rules */
:root {
    --html-color: #e34c26;
    --css-color: #264de4;
    --js-color: #f0db4f;
    --bootstrap-color: #563d7c;
    --trans-dur: 0.3s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
}

.container {
    margin: 0 auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */
@font-face {
    font-family: "work-sans";
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

body {
    font-family: work-sans;
    background-color: #f4f6f8;
    padding: 20px;
}

#html-section .container {
    border-left: 4px solid var(--html-color);
}

#css-section .container {
    border-left: 4px solid var(--css-color);
}

#bootstrap-section .container {
    border-left: 4px solid var(--bootstrap-color);
}

#js-section .container {
    border-left: 4px solid var(--js-color);
}

section {
    margin-bottom: 50px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -3px;
    text-align: center;
}

@media (max-width: 767px) {
    section h2 {
        font-size: 60px;
    }
}

#html-section h2 {
    color: var(--html-color);
}

#css-section h2 {
    color: var(--css-color);
}

#bootstrap-section h2 {
    color: var(--bootstrap-color);
}

#js-section h2 {
    color: var(--js-color);
}

.sessions-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-left: 15px;
}

.session-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: var(--trans-dur) ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.session-card:hover img {
    transform: scale(1.2);
}

.session-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

#html-section .session-card {
    border: 2px solid var(--html-color);

    &:hover {
        border: 2px solid #973922;
    }
}

#css-section .session-card {
    border: 2px solid var(--css-color);

    &:hover {
        border: 2px solid #1a2f7f;
    }
}

#bootstrap-section .session-card {
    border: 2px solid var(--bootstrap-color);

    &:hover {
        border: 2px solid #33254a;
    }
}

#js-section .session-card {
    border: 2px solid var(--js-color);

    &:hover {
        border: 2px solid #c3b13f;
    }
}

.session-card .imgs {
    position: relative;
    overflow: hidden;
}

.session-card .imgs::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.141);
    transition: var(--trans-dur);
    z-index: 2;
    opacity: 0;
}

.session-card:hover .imgs:after {
    opacity: 1;
}

.session-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    transition: var(--trans-dur) ease;
}

.session-content {
    padding: 15px;
}

.session-content h3 {
    margin: 15px 0;
    font-size: 1.5rem;
}

#html-section .session-content h3 {
    color: var(--html-color)
}

#css-section .session-content h3 {
    color: var(--css-color)
}

#bootstrap-section .session-content h3 {
    color: var(--bootstrap-color)
}

#js-section .session-content h3 {
    color: var(--js-color)
}

.session-content p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

.session-card button {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: var(--trans-dur) ease;
}

#html-section .session-card button {
    background-color: var(--html-color);

    &:hover {
        background-color: #973922;
    }
}

#css-section .session-card button {
    background-color: var(--css-color);

    &:hover {
        background-color: #1a2f7f;
    }
}

#bootstrap-section .session-card button {
    background-color: var(--bootstrap-color);

    &:hover {
        background-color: #33254a;
    }
}

#js-section .session-card button {
    background-color: var(--js-color);

    &:hover {
        background-color: #c3b13f;
    }
}